
<script>
    window.history.replaceState('contact',null,'/' + 'contact');
    window.addEventListener('popstate', function(e) {

    });
    $(document).ready(function () {
        console.log("watta fuckawerwerwerwerwerwetwsfdfww?");
    });
    $("#content-container").show();
</script>

<h1>"leee contact????"</h1>