<div id="aobut-section">

  <a class="navItem navItemAbout"  id="navAbout" rel="About">
    <span class="text"></span>
    <span class="text" id="text-contacts"></span>
    <span class="arrow-bar" id="arrow-about"><i class="arrow right"></i></span>
  </a>

  <div id="navigation-pages">
    <div id="page-wrapper">

    </div>
    <div id="content-container">

    </div>
  </div>
</div>