<script>
function TextAnimation(context,letters, textClassName) {
    this.context = context;
    this.letters = letters;
    this.interval = [];
    this.textDivTags = [];
    this.divArray = [];
    this.textClassName = textClassName;
    this.instance = null;
    this.newInstance = function (classInstance) {
        this.instance = classInstance;
    }
    this.initializeLetters = function() {
        console.log("context", this.context);
        console.log("letters", this.letters.length);
        console.log("");
        if(textClassName === 'textProject'){
        }else {
            this.context.style.width = $(window).height() + "px";
        }
        for(var i = 0; i < this.letters.length; i++){
            var div = document.createElement("div");
            div.className = "char chars"+i;
            div.id = this.textClassName;
            console.log("divish" + div.innerHTML);
            var innerText = document.createElement("div");
            innerText.className = "char-inner";
            innerText.innerHTML = letters[i];
            div.appendChild(innerText);
            this.context.appendChild(div);
            this.divArray.push(div);
        }
    };
    this.initializeTags = function () {
        var childs = this.context.childNodes;
        for(var i = 0; i < Object.size(childs); i++){
            console.log("wad it is", childs[i].childNodes[0]);
            this.textDivTags.push(childs[i].childNodes[0]);
        }
    };
    this._addTextHover = function () {
        var childs = this.context.childNodes;
        for(var i = 0; i < Object.size(childs); i++){
            console.log("wad it is", childs[i]);
            $(childs).removeClass('textHoverOut');
            $(childs).addClass('textHover');
            console.log(
                ($(window).height() / this.instance.letters.length) - 20 + "px"
            );
            if(textClassName === 'textProject'){
                $(childs).width(($(window).width() / this.instance.letters.length) - 5 + "px");
            }else {
                $(childs).width(($(window).height() / this.instance.letters.length) - 20 + "px");
            }
          //  childs.style.width = ($(window).height() / this.instance.letters.length) - 20 + "px";
        }
    }
    this._removeTextHover = function () {
        var childs = this.context.childNodes;
        for(var i = 0; i < Object.size(childs); i++){
            console.log("wad it is", childs[i]);
            $(childs).removeClass('textHover');
            $(childs).addClass('textHoverOut');
        }
    }
}

$(document).ready(function(){
  var procentOfScreen = 0.75;
  var screenInterval;
  var loadingContent = document.getElementById("load-container");
  var resizeContainer = document.getElementById("resize-container");
  var pageWrapper = document.getElementById("page-wrapper");
  var resizeLetters = document.getElementById("resize-list");
  var loadingLetters = document.getElementById("loading-list");
  var nodeKeeper = {};
  var resizeLetterKeeper = {};
  var loadingIntervalsArray = [];
  var numberOfInterVals = 0;
  var mapArray = [
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0]
  ]

  //loading elements class/id
  var letterClassInLoading = {
      l: "loading-l",
      o: "loading-o",
      a: "loading-a",
      d: "loading-d",
      i: "loading-i",
      n: "loading-n",
      g: "loading-g"
  };
  //resizing elements
  var letterClassInResize = {
      r: 'resize-r',
      e: 'resize-e',
      s: 'resize-s',
      i: 'resize-ione',
      z: 'resize-z',
      i2: 'resize-itwo',
      n: 'resize-n',
      g: 'resize-g'
  };

  var loadingAnimations = {
    resizeLoad: 'loaded'
  };
  var navBars = {
    navAbout: document.getElementById("navAbout"),
    navProjects: document.getElementById("navProjects"),
    navContact: document.getElementById("navContact")
  };
    var lettersContact = ['C','O','N','T','A','C','T'];
    var lettersProject = ['P', 'R', 'O', 'J', 'E', 'C', 'T', 'S'];
    var lettersAbout = ['A','B','O','U','T'];


    var textAnimationAbout = new TextAnimation(navBars.navAbout.children[0], lettersAbout, 'textAbout');
    textAnimationAbout.newInstance(textAnimationAbout);
    var textAnimationContact = new TextAnimation(navBars.navContact.children[0], lettersContact,'textContact');
    textAnimationContact.newInstance(textAnimationContact);
    var textAnimationProject = new TextAnimation(navBars.navProjects.children[0], lettersProject,'textProject');
    textAnimationProject.newInstance(textAnimationProject);


  function init(){


      // should be applied on resiz
      textAnimationAbout.initializeLetters();
      textAnimationAbout.initializeTags();
      textAnimationContact.initializeLetters();
      textAnimationContact.initializeTags();
      textAnimationProject.initializeLetters();
      textAnimationProject.initializeTags();
    hideDive(pageWrapper);
    var screenHeight = $(window).height();
    var screenWidth = $(window).width();
    console.log("windowsize :D" + $(window).width());
    //draws
    drawLoadingContent();



    drawLoadingText();
    hideLoadingElements();
    drawResizeAndLoadText();


    changeOpacityOnEveryLoadingElement(0);
    changeOpacityOnEveryResizeElement(0);

    //loadLoadingScreen();
    endLoading();

    /***
     * Resizing listener
     * */
    window.addEventListener('resize', function () {
        checkForLoadingIntervals();
        loadResizeScreen();
    });


  }

  function loadLoadingScreen() {
      hideResizeElements();
      showLoadingElements(document.getElementById('loading-list'));
      setMarginValuesForContent();
      startVibratLoading(0);
      fadeInLoading(0);
      lightingEffectOnLoading();
  }
  function endLoading() {
      fadeAwayLoading(1);
      fadeAwayDiv(resizeContainer);
      setTimeOutBeforeTheContentMoveIn();
      showDivLoadTime(pageWrapper);

  }
  function loadResizeScreen() {

    /*Initalize shimmering effect on background*/
      clearOpacityOnLoadingBackground(0,loadingContent.childNodes);
      clearNodeKeeper();
      redrawChildNodes(0,loadingContent.childNodes,  randomChild());


    /*Initalize effect on loading letters*/
      showLoadingElements(resizeContainer);
      showLoadingElements(document.getElementById("resize-list"));
      if(document.getElementById("loading-list").style.display === 'inline-block'){
          hideLoadingElements(document.getElementById("loading-list").style.display);
      }
      fadeInResize(0);
      startvibrate(0);
      lightingEffect();
      setMarginValuesForContent();

  }

  function clearNodeKeeper() {
      nodeKeeper = {};
  }

  function checkForLoadingIntervals() {
      if(loadingIntervalsArray.length > 0){
          for(var i = 0; i < loadingIntervalsArray.length; i++){
              clearInterval(loadingIntervalsArray[i]);

          }
      }
  }

  /***
   * Timer between each vibrating animation
   * and how many times it should occure´´´´
   *
   * @param margin
   * */
  function startvibrate(margin) {
      var counter = 0;
      numberOfInterVals++;
      var id = numberOfInterVals-1;
      loadingIntervalsArray.push(setInterval(function () {
              counter++;
              letterVibrationsRight(margin)
              if(counter > 5){
                  clearInterval(loadingIntervalsArray[id]);
              }
          },1000)
      );

  }
  function startVibratLoading(margin) {
      var counter = 0;
      numberOfInterVals++;
      var id = numberOfInterVals-1;
      loadingIntervalsArray.push(setInterval(function () {
              counter++;
              letterVibrationsLoadingRight(margin)
              if(counter > 5){
                  clearInterval(loadingIntervalsArray[id]);
              }
          },1000)
      );
  }

  function lightingEffectOnLoading() {
      var counter = 0;
      numberOfInterVals++;
      var id = numberOfInterVals-1;
      loadingIntervalsArray.push(setInterval(function () {
              counter++;
              shineEffectOnLoad(0);
              if(counter > 2){
                  clearInterval(loadingIntervalsArray[id]);
                  setTimeout(function () {
                      endLoading();
                  },2500)
              }
          }, 2000)
      );
  }

  function shineEffectOnLoad(number) {
      setTimeout(function () {
          if(number < 8){
              listDifferentLightningLoading(number,0);
              number++;
              shineEffectOnLoad(number);
          }

      }, 100);
  }


  /***
   * Interval for how many times
   * the light effect should take place and
   * the time between each shine effect
   * */
  function lightingEffect() {
      var counter = 0;
      numberOfInterVals++;
      var id = numberOfInterVals-1;
      loadingIntervalsArray.push(setInterval(function () {
              counter++;
              lightningEffectOnResize(0);
              if(counter > 2){
                  clearInterval(loadingIntervalsArray[id]);
                  setTimeout(function () {
                      fadeAwayResize(1);
                  },2500)
              }
          }, 2000)
      );
  }

  /***
   * set and intervall between each element
   * that is going to shine, which is all the letters
   * in resize
   *
   * @param number
   * */
  function lightningEffectOnResize(number) {
      setTimeout(function () {
          if(number < 9){
              listDifferentLightning(number,0);
              number++;
              lightningEffectOnResize(number);
          }
      }, 100);
  }

  function calculateScreenWidth(width, procent){
    procentHigh = (width*procent);
    return width - procentHigh;
  }
  function calculateScreenHeight(height, procent){
    procentHigh = (height*procent);
    return height - procentHigh;
  }
  function createLoadingContent(){
    return $("<div/>")   // creates a div element
           .attr("id", "some")  // adds the id
           .addClass("loading-content")   // add a classöööööö
           .html("<div></div>");
  }
  function drawLoadingText() {
      for(var i = 0; i < Object.size(letterClassInLoading); i++){
          attributeForEachLoadingLetter(i);
      }
  }
  function attributeForEachLoadingLetter(val) {
      switch (val){
          case 0:
              var list = document.createElement('li');
              list.className = letterClassInLoading.l;
              list.textContent = "l";
              loadingLetters.appendChild(list);
              break;
          case 1:
              var list = document.createElement('li');
              list.className = letterClassInLoading.o;
              list.textContent = "o";
              loadingLetters.appendChild(list);
              break;
          case 2:
              var list = document.createElement('li');
              list.className = letterClassInLoading.a;
              list.textContent = "a";
              loadingLetters.appendChild(list);
              break;
          case 3:
              var list = document.createElement('li');
              list.className = letterClassInLoading.d;
              list.textContent = "d";
              loadingLetters.appendChild(list);
              break;
          case 4:
              var list = document.createElement('li');
              list.className = letterClassInLoading.i;
              list.textContent = "i";
              loadingLetters.appendChild(list);
              break;
          case 5:
              var list = document.createElement('li');
              list.className = letterClassInLoading.n;
              list.textContent = "n";
              loadingLetters.appendChild(list);
              break;
          case 6:
              var list = document.createElement('li');
              list.className = letterClassInLoading.g;
              list.textContent = "g";
              loadingLetters.appendChild(list);
              break;
      }
  }
  function drawResizeAndLoadText() {
      for(var i = 0; i < Object.size(letterClassInResize); i++){
          attributeForEachResizeLetter(i);
      }
  }
  
  /**
   * Give each char a own class property
   *
   * @param val
   * */
  function attributeForEachResizeLetter(val) {
      switch (val){
          case 0:
              var list = document.createElement('li');
              list.className = letterClassInResize.r;
              list.textContent = "r";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["r"] = document.
              getElementsByClassName(letterClassInResize.r);
              break;
          case 1:
              var list = document.createElement('li');
              list.className = letterClassInResize.e;
              list.textContent = "e";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["e"] = document.
              getElementsByClassName(letterClassInResize.e);
              break;
          case 2:
              var list = document.createElement('li');
              list.className = letterClassInResize.s;
              list.textContent = "s";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["s"] = document.
              getElementsByClassName(letterClassInResize.s);
              break;
          case 3:
              var list = document.createElement('li');
              list.className = letterClassInResize.i;
              list.textContent = "i";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["i"] = document.
              getElementsByClassName(letterClassInResize.r);
              break;
          case 4:
              var list = document.createElement('li');
              list.className = letterClassInResize.z;
              list.textContent = "z";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["z"] = document.
              getElementsByClassName(letterClassInResize.z);
              break;
          case 5:
              var list = document.createElement('li');
              list.className = letterClassInResize.i2;
              list.textContent = "i";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["i2"] = document.
              getElementsByClassName(letterClassInResize.i2);
              break;
          case 6:
              var list = document.createElement('li');
              list.className = letterClassInResize.n;
              list.textContent = "n";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["n"] = document.
              getElementsByClassName(letterClassInResize.n);
              break;
          case 7:
              var list = document.createElement('li');
              list.className = letterClassInResize.g;
              list.textContent = "g";
              resizeLetters.appendChild(list);
              resizeLetterKeeper["g"] = document.
              getElementsByClassName(letterClassInResize.g);
              break;
      }
  }



    /***
     * Bouncing effect on elements
     * in the list
     *
     * @param margin
     * */
    function letterVibrationsLoadingRight(margin) {
        setTimeout(function () {
            margin += 0.5;
            if(margin < 2) {
                document.getElementsByClassName("loading-l")[0].style.marginRight = margin + "px";
                document.getElementsByClassName("loading-a")[0].style.marginRight = margin + "px";
                document.getElementsByClassName("loading-n")[0].style.marginRight = margin + "px";
                document.getElementsByClassName("loading-l")[0].style.marginBottom = margin + "px";
                document.getElementsByClassName("loading-a")[0].style.marginBottom  = margin + "px";
                document.getElementsByClassName("loading-n")[0].style.marginBottom  = margin + "px";
                letterVibrationsLoadingRight(margin);
            }else{
                document.getElementsByClassName("loading-l")[0].style.marginRight = "0px";
                document.getElementsByClassName("loading-a")[0].style.marginRight = "0px";
                document.getElementsByClassName("loading-n")[0].style.marginRight = "0px";
                document.getElementsByClassName("loading-l")[0].style.marginBottom = "0px";
                document.getElementsByClassName("loading-a")[0].style.marginBottom  = "0px";
                document.getElementsByClassName("loading-n")[0].style.marginBottom  = "0px";
            }
        },10);
    }

  function hideLoadingElements() {
      document.getElementById('loading-list').style.display = "none";
  }
  function showLoadingElements(div) {
      div.style.visibility = 'visible';
      div.style.display = 'block';          // Show
      div.style.display = 'inline';         // Show
      div.style.display = 'inline-block';
  }
  function hideResizeElements() {
      document.getElementById('resize-list').style.display = "none";
  }
  /***
   * Bouncing effect on elements
   * in the list
   *
   * @param margin
   * */
  function letterVibrationsRight(margin) {
      setTimeout(function () {
          margin += 0.5;
          if(margin < 2) {
              document.getElementsByClassName("resize-r")[0].style.marginRight = margin + "px";
              document.getElementsByClassName("resize-z")[0].style.marginRight = margin + "px";
              document.getElementsByClassName("resize-s")[0].style.marginRight = margin + "px";
              document.getElementsByClassName("resize-r")[0].style.marginBottom = margin + "px";
              document.getElementsByClassName("resize-z")[0].style.marginBottom  = margin + "px";
              document.getElementsByClassName("resize-s")[0].style.marginBottom  = margin + "px";
              letterVibrationsRight(margin);
          }else{
              document.getElementsByClassName("resize-r")[0].style.marginRight ="0px";
              document.getElementsByClassName("resize-z")[0].style.marginRight ="0px";
              document.getElementsByClassName("resize-s")[0].style.marginRight = "0px";
              document.getElementsByClassName("resize-r")[0].style.marginBottom = "0px";
              document.getElementsByClassName("resize-z")[0].style.marginBottom  = "0px";
              document.getElementsByClassName("resize-s")[0].style.marginBottom  = "0px";
          }
      },10);
  }
  function listDifferentLightningLoading(val, opacity) {
      switch (val){
          case 0:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-l")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
          case 1:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-o")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
          case 2:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-a")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
          case 3:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-d")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
          case 4:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-i")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
          case 5:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-n")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
          case 6:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("loading-g")[0].style.opacity = opacity;
                      listDifferentLightningLoading(val,opacity);
                  }
              },50);
              break;
      }
  }

  /**
   * change opacity so it feels likes it shining
   * and call function recursive to incresse the opacity
   *
   * @param val
   * @param opacity
   * */
  function listDifferentLightning(val, opacity) {
      switch (val){
          case 0:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("resize-r")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 1:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("resize-e")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 2:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("resize-s")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 3:
              setTimeout(function () {
                  if(opacity < 1) {
                      opacity += 0.05;
                      document.getElementsByClassName("resize-ione")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 4:
              setTimeout(function () {
                  opacity += 0.05;
                  if(opacity < 1) {
                      document.getElementsByClassName("resize-z")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 5:
              setTimeout(function () {
                  opacity += 0.05;
                  if(opacity < 1) {
                      document.getElementsByClassName("resize-itwo")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 6:
              setTimeout(function () {
                  opacity += 0.05;
                  if(opacity < 1) {
                      document.getElementsByClassName("resize-n")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
          case 7:
              setTimeout(function () {
                  opacity += 0.05;
                  if(opacity < 1) {
                      document.getElementsByClassName("resize-g")[0].style.opacity = opacity;
                      listDifferentLightning(val,opacity);
                  }
              },50);
              break;
      }
  }
  function changeOpacityOnEveryLoadingElement(opacity) {
      document.getElementsByClassName("loading-l")[0].style.opacity = opacity;
      document.getElementsByClassName("loading-o")[0].style.opacity = opacity;
      document.getElementsByClassName("loading-a")[0].style.opacity = opacity;
      document.getElementsByClassName("loading-d")[0].style.opacity = opacity;
      document.getElementsByClassName("loading-i")[0].style.opacity = opacity;
      document.getElementsByClassName("loading-n")[0].style.opacity = opacity;
      document.getElementsByClassName("loading-g")[0].style.opacity = opacity;
  }
  
  function changeOpacityOnEveryResizeElement(opacity) {
      document.getElementsByClassName("resize-r")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-e")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-s")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-ione")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-z")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-itwo")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-n")[0].style.opacity = opacity;
      document.getElementsByClassName("resize-g")[0].style.opacity = opacity;
  }

  function fadeAwayDiv(div, opacity) {
      setTimeout(function () {
          if(opacity > 0){
              opacity -= 0.05;
              div.style.opacity = opacity;
              fadeAwayDiv(opacity)
          }else{
            hideDive(div);
          }
      },100)
  }
  function fadeInLoading(opacity) {
      setTimeout(function () {
          if(opacity < 1){
              opacity += 0.05;
              changeOpacityOnEveryLoadingElement(opacity);
              fadeInLoading(opacity)
          }else{

          }
      },10)
  }
  function fadeAwayLoading(opacity) {
      setTimeout(function () {
          if(opacity > 0){
              opacity -= 0.05;
              changeOpacityOnEveryLoadingElement(opacity);
              fadeAwayLoading(opacity)
          }else{

          }
      },10)
  }
  function fadeInResize(opacity){
      setTimeout(function () {
          if(opacity < 1){
              opacity += 0.05;
              changeOpacityOnEveryResizeElement(opacity);
              fadeInResize(opacity)
          }else{

          }
      },10)
  }

  /**
   * End of the resize effext
   * fade away the resize text
   * and reload the page to enter the loading
   * screen effect
   *
   * @param opacity
   * */
  function fadeAwayResize(opacity) {
      setTimeout(function () {
        if(opacity > 0){
            opacity -= 0.05;
            changeOpacityOnEveryResizeElement(opacity);
            fadeAwayResize(opacity)
        }else{
            window.location.reload();
        }
      },5)
  }



  function clearOpacityOnLoadingBackground(child,childrens) {
      if(child < childrens.length) {
          childrens[child].style.opacity = "0";
          child++;
          clearOpacityOnLoadingBackground(child,childrens);
      }
  }
  /**
   * Intialize tile map
   * is loaded when the loading
   * screen initializes
   * */
  function drawLoadingContent(){
    for(var i = 0; i < mapArray.length; i++){
      for(var j = 0; j < mapArray.length; j++){
        if(parseInt(mapArray[i][j]) == 0){
          var div = document.createElement("div");
          div.className += " loading-content";
          loadingContent.appendChild(div)
        }
        if(parseInt(mapArray[i][j]) == 1){
          var div = document.createElement("div");
          div.className += " point-opened";
          loadingContent.appendChild(div)
        }
      }
    }
  }
  /**
   * get randomnumber
   * between 0-100
   * */
  function randomChild() {
      return Math.floor(Math.random() * 100);
  }

  /**
   * Redraw one of the child nodes
   * in a delay time out
   * each nodes is access by a random number
   * all numbers are check if they are already setted
   * by using a hashmap to store used values
   *
   * @param child
   * @param childrens
   * @param numberUsed
   * */
  function redrawChildNodes(child,childrens, numberUsed){
          setTimeout(function () {
              if (!checkIfNodeKeeperHasValue(numberUsed)) {
                  childrens[numberUsed].style.opacity = "1";
                  childrens[numberUsed].style.zIndex = "1001";
                  nodeKeeper[child] = numberUsed;
                  animateLoadingEnd(childrens[numberUsed], 0);
                  child++;
                  redrawChildNodes(child, childrens, randomChild());
              } else {
                  if (child < childrens.length) {
                      redrawChildNodes(child, childrens, randomChild())
                  }else{
                      console.log("end");

                  }
              }
          }, 1)
  }
  /***
   * check if number already
   * exist in the nodeKeeper
   * return boolean true if it does
   * otherwise false
   * @param numberUsed
   * */
  function checkIfNodeKeeperHasValue(numberUsed) {
      for(var i = 0; i < Object.size(nodeKeeper); i++){
          if(nodeKeeper[i] == numberUsed){
              return true;
          }
      }
      return false;
  }
  /***
   *
   * @param obj
   * @return size of java object hashMap var new = {} :D
   * */
  Object.size = function(obj) {
        var size = 0, key;
        for (key in obj) {
            if (obj.hasOwnProperty(key)) size++;
        }
        return size;
    };
  /***
   * increase opacity of each
   * childnode placed in the animation loop
   * @param child
   * @parama opacity
   * */
  function animateLoadingEnd(child, opacity) {
      setTimeout(function () {
          if(opacity < 1) {
              opacity += 0.05;
              child.style.opacity = opacity;
              animateLoadingEnd(child, opacity)
          }
      },1)
  }

    /***
     * Preload the content
     * like a fade in function
     * @param child
     * @param opacity
     */
  function preLoadContent(child, opacity) {
      setTimeout(function () {
          if(opacity > 0) {
              opacity -= 0.05;
              child.style.opacity = opacity;
              preLoadContent(child, opacity)
          }
      },50)
  }




  /***
   * content before the redraw intro
   * of home page
   * */
  function setTimeOutBeforeTheContentMoveIn() {
      setTimeout(function () {
          moveInContentToPage(-100,navBars.navContact,'contacts');
          moveInContentToPage(-100,navBars.navAbout,'about');
          moveInContentToPage(-100,navBars.navProjects,'projects');
      },400)
  }
    /***
     * Move link content by using margin
     * Apply the margin based on which content
     * thats is going to move
     * Increasing margin recursive to get the move
     * animation
     * @param margin
     * @param element
     * @param style
     * */
  function moveInContentToPage(margin, element, style) {
      switch (style){
          case 'about':
              setTimeout(function () {
                  if(margin < 1) {
                      margin += 5;
                      element.style.marginLeft = margin + "px";
                      moveInContentToPage(margin, element, style);
                  }
              }, 10);
              break;
          case 'music':
              setTimeout(function () {
                  if(margin < 1) {
                      margin += 5;
                      element.style.marginTop = margin + "px";
                      moveInContentToPage(margin, element, style);
                  }
              }, 10);
              break;
          case 'projects':
              setTimeout(function () {
                  if(margin < 1) {
                      margin += 5;
                      element.style.marginBottom = margin + "px";
                      moveInContentToPage(margin, element, style);
                  }
              }, 10);
              break;
          case 'contacts':
              setTimeout(function () {
                  if(margin < 1) {
                      margin += 5;
                      element.style.marginRight = margin + "px";
                      moveInContentToPage(margin, element, style);
                  }
              }, 10);
              break;
      }
  }

    /**
     * Set dem marginvalues for drop in animation
     */
  function setMarginValuesForContent() {
      //nav about init
      navBars.navAbout.style.marginLeft = "-100px";
      navBars.navAbout.style.overflow = "hidden";

      //nav contact init
      navBars.navContact.style.marginRight = "-100px";
      navBars.navContact.style.overflow = "hidden";
      navBars.navContact.style.right = "0";
      document.getElementById('text-contacts').style.overflow = "hidden";


      //nav project init
      navBars.navProjects.style.marginBottom = "-100px";
      navBars.navProjects.style.overflow = "hidden";
  }

  function hideDive(div) {
      div.style.visibility = 'hidden';
      div.style.display = 'none';
  }

  function hideDivLoadTime(div) {
      setTimeout(function () {
          div.style.visibility = 'hidden';
          div.style.display = 'none';
      },1000)
  }

  function showDivLoadTime(div) {
    setTimeout(function () {
      div.style.visibility = 'visible';
      div.style.display = 'block';          // Show
      div.style.display = 'inline';         // Show
      div.style.display = 'inline-block';
    },1000)
  }
  init();
  navBars.navProjects.addEventListener("click",function () {

  });
  navBars.navContact.addEventListener("click",function () {

  });
  navBars.navAbout.addEventListener("click",function () {
    PagingEffect.container = pageWrapper;
    PagingEffect.about = navBars.navAbout;
    navBars.navAbout.style.zIndex = "1001";
    PagingEffect._instance = PagingEffect;
    PagingEffect.applyNodes();
    PagingEffect.checkIfPaginEffectIsDon(0, 0, navBars.navAbout, pageWrapper.childNodes, pageWrapper);

  });

  $(navBars.navAbout).hover(
      function () {
          textAnimationAbout._addTextHover();
      },
      function () {
          textAnimationAbout._removeTextHover();
      }
  )
    $(navBars.navContact).hover(
        function () {
            textAnimationContact._addTextHover();
        },
        function () {
            textAnimationContact._removeTextHover();
        }
    )
    $(navBars.navProjects).hover(
        function () {
            textAnimationProject._addTextHover();
        },
        function () {
            textAnimationProject._removeTextHover();
        }
    )
});

var PagingEffect = {
    container: "macintosh",
    numberOfEffect: 8,
    interval:[],
    intervalID: 0,
    about: 0,
    pagingReader: false,
    _instance: null,
    applyNodes: function () {
        for(var i = 0; i < this.numberOfEffect; i++){
            console.log("waddup?==");
            var div = document.createElement("div");
            div.className = "pagechange-content";
            var progressbar = document.createElement("div");
            progressbar.className = "pagechange-progress";
            div.appendChild(progressbar);
            this.container.appendChild(div);
        }
    },
    checkIfPaginEffectIsDon: function (margin,counter,navBar, childNodes, pageWrapper) {
        var interval = setInterval(function(){
            if(counter > 1){
                counter++;
                PagingEffect.checkIfPaginEffectIsDon(margin,counter,navBar, childNodes);
            }else{
                console.log("haj");
                clearInterval(interval);

                PagingEffect.moveNavBar(margin, navBar, childNodes);

            }
        },400);
    },
    moveNavBar: function (margin, navBar, childNodes) {
        PagingEffect.startEffect(navBar);
        setTimeout(function () {
           PagingEffect.moveEffect(navBar);
        },500)

    },
    startEffect: function (navBar) {
        navBar.style.zIndex ="1001";
        navBar.style.marginLeft = "-20px";
        navBar.classList.add("startTransition");
    },
    moveEffect: function (navBar) {
        navBar.style.marginLeft = "";
        navBar.style.zIndex ="1001";
        navBar.style.left = "90%";
        navBar.classList.add("transitionLeft");
    },
    checkScreenWidth: function (margin,navBar) {
        if($(window).width() >  900){
            if(margin < 90) {
                navBar.style.left = margin + "%";
                navBar.style.position = "";
            }
        }else if($(window).width() > 700){
            if(margin < 85) {
                navBar.style.left = margin + "%";
                navBar.style.position = "";
            }
        }
        else if($(window).width() > 500){
            if(margin < 80) {
                navBar.style.left = margin + "%";
                navBar.style.position = "";
            }
        }else{
            if(margin < 80) {
                navBar.style.left = margin + "%";
            }
        }
    }
};


/***
 * Class which holding all function for
 * hiding and show divs
 * @type {{showDivLoadTime: DivVisibleClass.showDivLoadTime, showDiv: DivVisibleClass.showDiv, hideDivLoadTime: DivVisibleClass.hideDivLoadTime, hideDiv: DivVisibleClass.hideDiv}}
 */
var DivVisibleClass = {
    showDivLoadTime: function (div) {
        setTimeout(function () {
            div.style.visibility = 'visible';
            div.style.display = 'block';          // Show
        },1000)
    },
    showDiv: function (div) {
        div.style.visibility = 'visible';
        div.style.display = 'block';          // Show
        // div.style.display = 'inline';         // Show
        // div.style.display = 'inline-block';
    },
    hideDivLoadTime: function (div) {
        setTimeout(function () {
            div.style.visibility = 'hidden';
            div.style.display = 'none';
        },1000)
    },
    hideDiv: function(div){
        div.style.visibility = 'hidden';
        div.style.display = 'none';
    },
    hidePageWrapper: function (div) {
        console.log("====", div);
        div.style.visibility = "";
        div.style.display = "none";
    },
    showDivHome: function (div, navBar) {
        switch (navBar){
            case 'about':
                div.style.visibility = "";
                div.style.display = "";
                div.style.zIndex = "1001";
                div.style.left = "";
                div.style.top = "";
                div.style.bottom = "";
                div.style.pointerEvents = "";
                div.style.marginLeft = "-100px";
                break;
            case 'project':
                div.style.visibility = "";
                div.style.display = "";
                div.style.pointerEvents = "";
                div.style.zIndex ="1001";
                div.style.left = "";
                div.style.right = "";
                div.style.top = "";
                div.style.marginBottom = "-100px";
                break;
            case 'contact':
                div.style.visibility = "";
                div.style.display = "";
                div.style.zIndex = "1001";
                div.style.left = "";
                div.style.top = "";
                div.style.right = "";
                div.style.bottom = "";
                div.style.pointerEvents = "";
                div.style.marginRight ="-100px";
                break;
        }
    },
    setPointer: function (div) {
      /*div.style.pointerEvents = "inherit";
       div.style.pointerEvents = "initial";
       div.style.pointerEvents = "unset";*/
    }
};

</script>
<nav>
</nav>
<div id="super-container">
  <div id="resize-container">
    <div id="load-container"></div>
    <div id="load-text">
      <div class="loading-parent">
        <ul id="resize-list">
        </ul>
        <ul id="loading-list">
        </ul>
      </div>
    </div>
  </div>

   <a class="navItem navItemContact" id="navContact" rel="Contact">
     <span class="text" id="text-contacts"></span>
   </a>
   <a class="navItem navItemProjects" id="navProjects" rel="Projects">
     <span class="text" id="text-projects"></span>
   </a>
   <a class="navItem navItemAbout"  id="navAbout" rel="About">
     <span class="text" id="text-about"></span>
   </a>
  <div id="page-wrapper">
  </div>
</div>
