/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require portfolio
 *= require bootstrap.min.css
 *= require jquery-ui.min.css
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require font-awesome
 *= require_tree .
 *= require_self
 */


 body, html{
    width: 100%;
    height: 100%;
    background-color: #2F3031;
     overflow-x:hidden;
 }
.jumbotron{
    background-color: #2F3031;
}
#content-container{
    overflow: scroll;
    overflow-x: hidden;
}
.owl-theme .owl-controls .owl-buttons div {
    color: black;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 30px;
    background: none;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    font-family: "adobe-caslon-pro";
    text-transform: none;
    letter-spacing: 9px;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    margin-top: -20px;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 0;
    height: 0;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #FFFFFF;
}
#home-page{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}
#project-page{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    text-align: center;
}
.placeholder{
    display:inline-block;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    box-sizing:border-box;
    margin-top:100px;
}

.div-center-page{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.jumbotron{
    padding: 0;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
