
<script>
    window.history.replaceState('projects',null,'/' + 'projects');
    window.addEventListener('popstate', function(e) {

    });
    $(document).ready(function () {
        console.log("watta fuckawerwerwerwerwerwetwsfdfww?");
    });
</script>
<h1>le project</h1>