
<script>
  var differentState = {
      home: true,
      about: false,
      project: false,
      music: false,
      contact: false
  }
  console.log("holla");
</script>
<div id="super-container">
  <%= render partial: 'layouts/render_home'%>
</div>