
<script>
    window.history.replaceState('about',null,'/' + 'about');
    window.addEventListener('popstate', function(e) {

    });
    $(document).ready(function () {
        console.log("watta fuckawerwerwerwerwerwetwsfdfww?");
    });
    $("#content-container").show();
</script>

<h1>"arnea??"</h1>