<script>
  /*
   * Needed for browser navigation back when
   * page inside a project info has been refreshed
   * */
  if(!insideProjects) {
        document.body.style.overflow = "";
        document.getElementById("content-container").style.overflow = "";

        document.getElementById("projectPage").style.marginTop = "0px";

        window.history.replaceState('magazinos', null, '/' + 'projects' + '/magazinos');

    insideProjects = false;
    window.addEventListener('popstate', function(e) {

    });
    $(document).ready(function () {
        var backButton = document.getElementsByClassName("back-nav-project");
        var webSiteButton = document.getElementById("webSiteButton");
        $(webSiteButton).hide();
        $(backButton).hide();
        $(backButton).hover(function () {
                $("#projectBackID").addClass("hoverClass");
                $("#projectBackID").removeClass("hoverClassOut");
            },
            function () {
                $("#projectBackID").removeClass("hoverClass");
                $("#projectBackID").addClass("hoverClassOut");
            }
        );
        var charArray = ['m','a','g','a','z','i','n','o','s','.','c','o','m']
        var headerTextContainer = document.getElementById("holder-header-id").children[0];
        var textAnimation = new TextAnimationAbout(document.getElementById("holder-header-id").children[0], charArray);
        var mainNavigationBar = document.getElementById("navProjects");
        $(mainNavigationBar).hide();
        textAnimation.removeLetters();
        textAnimation.initializeLetters();
        setTimeout(function () {
            document.getElementById("holder-picture-id").style.height = "300px";
        },500);
        setTimeout(function () {
            $(backButton).fadeIn("slow");
            $(webSiteButton).fadeIn("slow");
            document.getElementById("holder-header-id").style.top = "220px";
            document.getElementById("holder-header-id").style.opacity = "1";
            document.getElementById("holder-text-id").style.opacity = "1";
        },2500);

        function loadInHeader(div, numbOfChars, start){
            setTimeout(function () {
                if(start < numbOfChars ) {
                    start +=0.1;
                    div.style.opacity = start;
                    loadInHeader(div)
                }
            },100);
        }

    });
    function TextAnimationAbout(context, letters) {
        this.context = context;
        this.letters = letters;
        this.interval = [];
        this.textDivTags = [];
        this._animationSetted = false;
        this.removeLetters = function () {
            while(this.context.firstChild){
                this.context.removeChild(this.context.firstChild);
            }
        };
        this.initializeLetters = function() {
            this.context.style.width = $(window).height() + "px";
            for(var i = 0; i < this.letters.length; i++){
                var div = document.createElement("div");
                div.className = "char chars"+i;
                div.id = "id-chars"+i;
                //div.style.float = "left";
                var innerText = document.createElement("div");
                innerText.className = "char-inner";
                innerText.innerHTML = letters[i];
                div.appendChild(innerText);
                var hasChild = this.context.querySelector(div.id) != null;

                this.context.appendChild(div);

            }
        };
        this.initializeTags = function () {
            var childs = this.context.childNodes;
            for(var i = 0; i < Object.size(childs); i++){
                this.textDivTags.push(childs[i].childNodes[0]);
            }
            this._animationSetted = true;
        };
    }
  }

</script>
<div class="jumbotron vertical-center project-show">
  <div class="back-nav-project" id="backNavProjects">
    <%=link_to(projects_path({state:'projw', page: 'magazinos'}), remote:true) do%>
        <div id="crossBox">
          <span class="projectBack" id="projectBackID"/>
        </div>
    <%end%>
  </div>
  <div id="info-show">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-centered info-content">
          <div class="picture-holder" id="holder-picture-id">
            <%=image_tag("https://images.unsplash.com/photo-1415769177894-634a98172336?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=")%>
          </div>
          <div class="header-holder" id="holder-header-id">
              <span class="header-text" id="header-textID">
              </span>
          </div>
        </div>
        <div class="col-md-6 col-centered info-content">
          <div class="col-md-12">
              <div class="text-content-holder" id="holder-text-id">
                <p>
                  In this project I was assigned to fetch a e-book api. In the project
                  I learned a lot about coding in ruby and rails. Also how to
                  structure a project involving a group of engineers. I worked during
                  this project only in the back-end section. It was about 1 month
                  of work and with my friend we managed to achive a good interface
                  as well as a good api code for retrive all information necessary
                  from the api
                </p>
              </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 col-centered" id="buttonsView">
              <button class="btn draw-border" id="webSiteButton" onclick="location.href='https://www.magazinos.com/';">
                Website
              </button>
            </div>
            <div class="col-md-4  col-centered">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

