<script>
  var linkButton = document.getElementById("project-tag");
  var projectPictureUrl = [
      "https://images.unsplash.com/photo-1477233534935-f5e6fe7c1159?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=",//onebas pic
      "http://marcianosmx.com/wp-content/uploads/2015/03/dados.jpg", //thirty pic
      "https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=", //google glass pic
      "https://images.unsplash.com/photo-1423068657086-889315a2eba8?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=", //moodify pic
      "https://images.unsplash.com/photo-1415769177894-634a98172336?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=", //magazinos pic
      "https://images.unsplash.com/photo-1498168208808-4c2706938a2f?dpr=2&auto=format&fit=crop&w=1500&h=1874&q=80&cs=tinysrgb&crop=" //drone pic
  ];

  function ImageGrid(defaults, position) {
      //console.log(defaults._rows);
      var r = defaults.rows;
      var c = defaults.columns;
      var margin = defaults.margin;

      var placeholder = defaults.containerName;
      var container = document.createElement('div');
      container.className = "gridContainer";
      container.id = "gridTileID"+position;
      placeholder.appendChild(container);

      var gridTile;
      var w = (container.offsetWidth / c) - margin;
      var h = (container.offsetHeight / r) - margin;
      var arr = [];

      for (var i = 0, l = r * c; i < l; i++) {
          gridTile = document.createElement('div');
          gridTile.className = "gridTile";
          gridTile.style.backgroundImage = "url(" + defaults.imgSrc + ")";
          gridTile.style.webkitFilter = 'grayscale(100%)';
          gridTile.style.filter = 'grayscale(100%)';


          arr = [(w + margin) * (i % c), (h + margin) * Math.floor(i / c), ((w + margin) * (i % c) + w - margin),
              (h + margin) * Math.floor(i / c), ((w + margin) * (i % c) + w - margin), ((h + margin) * Math.floor(i / c) + h - margin),
              (w + margin) * (i % c), ((h + margin) * Math.floor(i / c) + h - margin)];

          //console.log(i + " ====>>> " + arr + " ||||| " + i%c  + " |||||| " + i/c);


          TweenMax.set(gridTile, {
              webkitClipPath: 'polygon(' + arr[0] + 'px ' + arr[1] + 'px,' + arr[2] + 'px ' + arr[3] + 'px, ' + arr[4] + 'px ' + arr[5] + 'px, ' + arr[6] + 'px ' + arr[7] + 'px)',
              clipPath: 'polygon(' + arr[0] + 'px ' + arr[1] + 'px,' + arr[2] + 'px ' + arr[3] + 'px, ' + arr[4] + 'px ' + arr[5] + 'px, ' + arr[6] + 'px ' + arr[7] + 'px)'
          });
          container.appendChild(gridTile);

          fixTilePosition(gridTile, i);
      }
      linkButton.addEventListener("click", function () {
          setTimeout(function () {
              for(var i = 0; i < 6; i++) {
                  loadInProject._pictureGrid[i].children[0].children[0].style.width = "200px";
                  loadInProject._setUpPreload();
              }
          },500);
      });
      placeholder.addEventListener("mouseover", function (e) {
          var allTiles = e.currentTarget.querySelectorAll(".gridTile");
          for (var t = 0, le = allTiles.length; t < le; t++) {
              TweenMax.to(allTiles[t], defaults.animTime, {
                  css: {backgroundPosition: "0px 0px"},
                  ease: Power1.easeOut
              });
              allTiles[t].style.webkitFilter = 'grayscale(0%)';
              allTiles[t].style.filter = 'grayscale(0%)';
          }
      });

      placeholder.addEventListener("mouseleave", function (e) {
          var allTiles = e.currentTarget.querySelectorAll(".gridTile");
          for (var ti = 0, len = allTiles.length; ti < len; ti++) {
              fixTilePosition(allTiles[ti], ti, defaults.animTime);
              allTiles[ti].style.webkitFilter = 'grayscale(100%)';
              allTiles[ti].style.filter = 'grayscale(100%)';
          }
      });

      function fixTilePosition(tile, ind, time) {
          if (time == null) time = 0;
          var centr, centrCol, centrRow, offsetW, offsetH, left, top;

          centr = Math.floor(c * r / 2);
          centrCol = Math.ceil(centr / c);
          centrRow = Math.ceil(centr / r);

          offsetW = w / centrCol;
          offsetH = h / centrRow;

          left = (Math.round((ind % c - centrCol + 1) * offsetW));
          top = (Math.round((Math.floor(ind / c) - centrRow + 1) * offsetH));
          TweenMax.to(tile, time, {css: {backgroundPosition: left + "px " + top + "px"}, ease: Power1.easeOut});
      }

  }
  function ProjectListItem(imgSrc, containerName, row, column, margin, animTime) {
      this.imgSrc = imgSrc;
      this.containerName = containerName;
      this.rows = row;
      this.columns = column;
      this.margin = margin;
      this.animTime = animTime;
  }
  var imageGrids= [];
  var item = new ProjectListItem(
      projectPictureUrl[5],
      projectClassName[i],
      5,
      5,
      1.5,
      0.3
  );
  //ImageGrid(item);
  imageGrids.push(ImageGrid(item, i));




</script>


<div id="link-to">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%=link_to(projects_living_path(:state => "livingmaps", page: "index"), id: "project-tag", remote:true) do%>
            <div id="drone">
              <div class="header-text">
                <h1>
                  LivingMap
                </h1>
                <hr>
                </hr>
              </div>
              <div class="under-text">
                <p>Interface and drone to help harvest the forest</p>
              </div>
            </div>
        <%end%>
      </div>
      <div class="col-md-3">
        <%=link_to(projects_onebas_path(:state => "onebas", page: "index"), id: "project-tag", remote:true) do%>
            <div id="drone">
              <div class="header-text">
                <h1>
                  oneBAS.com
                </h1>
                <hr>
                </hr>
              </div>
              <div class="under-text">
                <p>Music application</p>
              </div>
            </div>
            </div>
        <%end%>
        </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%=link_to(projects_magazinos_path(:state => "magazinos", page: "index"), id: "project-tag", remote:true) do%>
          <div class="progress"></div>
          <div class="placeholder">
            <div class="filler-container">
              <div class="filler">
              </div>
            </div>
          </div>
    <%end%>
    </div>
    <div class="col-md-6">
      <%=link_to(projects_lag_path(:state => "googleglass"), remote:true) do%>
          <div id="drone">
            <div class="header-text">
              <h1>
                LAGG
              </h1>
              <hr>
              </hr>
            </div>
            <div class="under-text">
              <p>Location assistance for google glass</p>
            </div>
          </div>
          </div>
      <%end%>
      </div>
</div>