<script>
  $(document).ready(function () {

      var linkButton = document.getElementById("project-tag");
      var projectPictureUrl = [
          "https://images.unsplash.com/photo-1477233534935-f5e6fe7c1159?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=",//onebas pic
          "http://marcianosmx.com/wp-content/uploads/2015/03/dados.jpg", //thirty pic
          "https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=", //google glass pic
          "https://images.unsplash.com/photo-1423068657086-889315a2eba8?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=", //moodify pic
          "https://images.unsplash.com/photo-1415769177894-634a98172336?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=", //magazinos pic
          "https://images.unsplash.com/photo-1498168208808-4c2706938a2f?dpr=2&auto=format&fit=crop&w=1500&h=1874&q=80&cs=tinysrgb&crop=" //drone pic
      ];

      /* Downloaded from https://www.kode.to/ */
      var options = {
          imgSrc : projectPictureUrl[4],
          containerName : "placeholder",
          rows:2,
          columns:2,
          margin:0,
          animTime: 0.5
      };

      function ImageGrid(defaults)
      {
          var r = defaults.rows;
          var c = defaults.columns;
          var margin = defaults.margin;
          var _deadSpace = 40;
          var _hoverProgress = false;

          var placeholder = document.getElementsByClassName(defaults.containerName)[0];
          var container = document.createElement('div');
          container.className = "gridContainer";
          placeholder.appendChild(container);

          var gridTile;

          var w = ((container.offsetWidth - _deadSpace) / c) -margin;
          var h = ((container.offsetHeight - _deadSpace) / r) -margin;
          var arr = [];

          for (var i=0, l=r*c; i < l; i++)
          {
              gridTile = document.createElement('div');
              gridTile.className = "gridTile";
              gridTile.style.backgroundImage = "url("+defaults.imgSrc+")";


              arr = [((w+margin)*(i%c) + (_deadSpace/2)), ((h+margin)*Math.floor(i/c))+ (_deadSpace/2), ((w+margin)*(i%c)+w-margin)+ (_deadSpace/2), ((h+margin)*Math.floor(i/c))+ (_deadSpace/2), (((w+margin)*(i%c)+w-margin))+ (_deadSpace/2), ((h+margin)*Math.floor(i/c) + h-margin)+ (_deadSpace/2), ((w+margin)*(i%c))+ (_deadSpace/2), ((h+margin)*Math.floor(i/c) + h-margin)+ (_deadSpace/2)];

               console.log(i + " ====>>> " + arr + " ||||| " + i%c  + " |||||| " + i/c);


              TweenMax.set(gridTile, {webkitClipPath:'polygon('+arr[0]+'px '+ arr[1]+'px,'+arr[2]+'px '+arr[3]+'px, '+arr[4]+'px '+ arr[5] +'px, '+arr[6]+'px '+ arr[7] +'px)', clipPath:'polygon('+arr[0]+'px '+ arr[1]+'px,'+arr[2]+'px '+arr[3]+'px, '+arr[4]+'px '+ arr[5] +'px, '+arr[6]+'px '+ arr[7] +'px)'});

              container.appendChild(gridTile);

             // fixTilePosition(gridTile, i);
          }
          var downTileOne = 110;

          var downTileFour = 190;
          var downTileFourTop = 110;
          var sideTileFour = 90;
          var sideTileFourLeft = 170;

          var downTileTwo = 30;
          var downTileTwoBot = 110;

          var sideTileThree = 10;
          var sideTileThreeRight = 95;

          var styleTileOne = {webkitClipPath:'polygon('+20+'px '+ 20 +'px,'+100+'px '+20+'px, '+100+'px '+ downTileOne +'px, '+20+'px '+ 100 +'px)', clipPath:'polygon('+20+'px '+ 20 +'px,'+100+'px '+20+'px, '+100+'px '+ downTileOne +'px, '+20+'px '+ 100 +'px)'};
          var styleTileTwo = {webkitClipPath:'polygon('+arr[0]+'px '+ downTileTwo +'px,'+arr[2]+'px '+ downTileTwo +'px, '+arr[4]+'px '+ downTileTwoBot +'px, '+arr[6]+'px '+ downTileTwoBot +'px)', clipPath:'polygon('+arr[0]+'px '+ downTileTwo + 'px,'+arr[2]+'px '+ downTileTwo +'px, '+arr[4]+'px '+ downTileTwoBot +'px, '+arr[6]+'px '+ downTileTwoBot +'px)'};
          var styleTileThree = {webkitClipPath:'polygon('+sideTileThree+'px '+ arr[1]+'px,'+ sideTileThreeRight +'px '+arr[3]+'px, '+ sideTileThreeRight +'px '+ arr[5] +'px, '+sideTileThree+'px '+ arr[7] +'px)', clipPath:'polygon('+sideTileThree+'px '+ arr[1]+'px,'+sideTileThreeRight+'px '+arr[3]+'px, '+sideTileThreeRight+'px '+ arr[5] +'px, '+sideTileThree+'px '+ arr[7] +'px)'};
          var styleTileFour = {webkitClipPath:'polygon('+sideTileFour+'px '+ downTileFourTop+'px,'+sideTileFourLeft+'px '+downTileFourTop+'px, '+ sideTileFourLeft +'px '+ downTileFour +'px, '+sideTileFour+'px '+ downTileFour +'px)', clipPath:'polygon('+sideTileFour+'px '+ downTileFourTop +'px,'+ sideTileFourLeft +'px '+ downTileFourTop +'px, '+ sideTileFourLeft +'px '+ downTileFour +'px, '+sideTileFour+'px '+ downTileFour +'px)'};

          var styleTileOneBack = {webkitClipPath:'polygon('+20+'px '+ 20 +'px,'+100+'px '+20+'px, '+100+'px '+ downTileOne +'px, '+20+'px '+ 100 +'px)', clipPath:'polygon('+20+'px '+ 20 +'px,'+100+'px '+20+'px, '+100+'px '+ downTileOne +'px, '+20+'px '+ 100 +'px)'};
          var styleTileTwoBack = {webkitClipPath:'polygon('+arr[0]+'px '+ 20 +'px,'+arr[2]+'px '+ 20 +'px, '+arr[4]+'px '+ 100 +'px, '+arr[6]+'px '+ 100 +'px)', clipPath:'polygon('+arr[0]+'px '+ 20 + 'px,'+arr[2]+'px '+ 20 +'px, '+arr[4]+'px '+ 100 +'px, '+arr[6]+'px '+ 100 +'px)'};
          var styleTileThreeBack = {webkitClipPath:'polygon('+20+'px '+ arr[1]+'px,'+ 100 +'px '+arr[3]+'px, '+ 100 +'px '+ arr[5] +'px, '+ 20 +'px '+ arr[7] +'px)', clipPath:'polygon('+ 20 +'px '+ arr[1]+'px,'+ 100 +'px '+arr[3]+'px, '+ 100 +'px '+ arr[5] +'px, '+ 20 +'px '+ arr[7] +'px)'};
          var styleTileFourBack = {webkitClipPath:'polygon('+100+'px '+ 100 +'px,'+ 180 +'px '+100+'px, '+ 180 +'px '+ 180 +'px, '+100+'px '+ 180 +'px)', clipPath:'polygon('+100+'px '+ 100 +'px,'+ 180 +'px '+100+'px, '+ 180 +'px '+ 180 +'px, '+100+'px '+ 180 +'px)'};

          normalizePosition();
          changePolygons();
          placeholder.addEventListener("mouseover", function(e){
              if(!_hoverProgress) {
                  normalizePolygonsPosition();
                  normalizePosition();
              }
          });

          placeholder.addEventListener("mouseleave", function(e){

              changePolygons();

              //normalizePosition();
          });
          function normalizePosition(){
              var allTiles = container.querySelectorAll(".gridTile");
              for (var t=0, len = allTiles.length; t < len; t++) {
                  TweenMax.to(allTiles[t], defaults.animTime, {css:{backgroundPosition:"0px 0px"}, ease:Power1.easeOut});
              }
          };
          function normalizePolygonsPosition() {
              _hoverProgress = true;
           //   console.log(container.querySelectorAll(".gridTile")[2]);
              var tileOne = container.querySelectorAll(".gridTile")[0];
              var tileTwo = container.querySelectorAll(".gridTile")[1];
              var tileThree = container.querySelectorAll(".gridTile")[2];
              var tileFour = container.querySelectorAll(".gridTile")[3];
             // TweenMax.to(tileOne, 0.3, {css:styleTileOne});
              TweenMax.to(tileFour, 0.3, {css:styleTileFourBack});
              changePositionBasedOnPolygons(tileFour, 0, 10, 0.3);
              TweenMax.to(tileThree, 0.3, {css:styleTileThreeBack});
              changePositionBasedOnPolygons(tileThree, 0, 0, 0.3);
              setTimeout(function () {
                  TweenMax.to(tileTwo, 0.3, {css:styleTileTwoBack});
                  changePositionBasedOnPolygons(tileFour, 0, 0, 0.3);
                  changePositionBasedOnPolygons(tileTwo, 0, 0, 0.3);
              },0);
              setTimeout(function () {
                  _hoverProgress = false;
              }, 600)
          }
          function changePositionBasedOnPolygons(tile, tileY, tileX, animTime) {
              var moveY = 0, moveX = 0;
              if(tileY != null)
                  moveY = tileY;
              if(tileX != null)
                  moveX = tileX;
              TweenMax.to(tile, animTime, {css:{backgroundPosition: moveY+"px "+moveX + "px"}});
          }
          function changePolygons() {
              _hoverProgress = true;
             // console.log(container.querySelectorAll(".gridTile")[2]);
              var tileOne = container.querySelectorAll(".gridTile")[0];
              var tileTwo = container.querySelectorAll(".gridTile")[1];
              var tileThree = container.querySelectorAll(".gridTile")[2];
              var tileFour = container.querySelectorAll(".gridTile")[3];
              TweenMax.to(tileOne, 0.3, {css:styleTileOne});
              TweenMax.to(tileTwo, 0.3, {css:styleTileTwo});
              changePositionBasedOnPolygons(tileTwo, 0, 10, 0.3);
              changePositionBasedOnPolygons(tileFour, 0, 10, 0.3);
              setTimeout(function () {
                  TweenMax.to(tileFour, 0.3, {css:styleTileFour});
                  changePositionBasedOnPolygons(tileFour, -10, 10, 0.3);
                  TweenMax.to(tileThree, 0.3, {css:styleTileThree});
                  changePositionBasedOnPolygons(tileThree, -10, 0, 0.3);
              },200);
              setTimeout(function () {
                  _hoverProgress = false;
              }, 600)
          }
      }

      ImageGrid(options);

  });
</script>


<div id="link-to">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%=link_to(projects_living_path(:state => "livingmaps", page: "index"), id: "project-tag", remote:true) do%>
            <div id="drone">
              <div class="header-text">
                <h1>
                  LivingMap
                </h1>
                <hr>
                </hr>
              </div>
              <div class="under-text">
                <p>Interface and drone to help harvest the forest</p>
              </div>
            </div>
        <%end%>
      </div>
      <div class="col-md-3">
        <%=link_to(projects_onebas_path(:state => "onebas", page: "index"), id: "project-tag", remote:true) do%>
            <div id="drone">
              <div class="header-text">
                <h1>
                  oneBAS.com
                </h1>
                <hr>
                </hr>
              </div>
              <div class="under-text">
                <p>Music application</p>
              </div>
            </div>
            </div>
        <%end%>
        </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%=link_to(projects_magazinos_path(:state => "magazinos", page: "index"), id: "project-tag", remote:true) do%>
          <div id="magazinos">
              <div class="placeholder">
                <div class="filler-container">
                  <div class="filler">
                  </div>
                </div>
              </div>
          </div>
    <%end%>
    </div>
    <div class="col-md-6">
      <%=link_to(projects_lag_path(:state => "googleglass"), remote:true) do%>
          <div id="drone">
            <div class="header-text">
              <h1>
                LAGG
              </h1>
              <hr>
              </hr>
            </div>
            <div class="under-text">
              <p>Location assistance for google glass</p>
            </div>
          </div>
          </div>
      <%end%>
      </div>
</div>