<div class="page-home">
  <div class="page-home-inner">
    <div class="left-panel">
      <div class="textAnimation" id="text1">
      </div>
      <div class="textAnimation" id="text2">
      </div>
      <div class="textAnimation" id="text3">
      </div>
      <div class="textAnimation" id="text4">
      </div>
    </div>
    <div class ="picture-on-site">
      <%=image_tag("https://images.unsplash.com/photo-1498168208808-4c2706938a2f?dpr=2&auto=format&fit=crop&w=1500&h=1874&q=80&cs=tinysrgb&crop=")%>
    </div>
    <div class="right-panel">
      <div class="textAnimation-two" id="rightText1">
      </div>
      <div class="textAnimation-two" id="rightText2">
      </div>
      <div class="textAnimation-two" id="rightText3">
      </div>
      <div class="textAnimation-two" id="rightText4">
      </div>
      <div class="textAnimation-two" id="rightText5">
      </div>
      <div class="textAnimation-two" id="rightText6">
      </div>
      <div class="textAnimation-two" id="rightText7">
      </div>
      <div class="textAnimation-two" id="rightText8">
      </div>
      <div class="textAnimation-two" id="rightText9">

      </div>

    </div>
  </div>
</div>